table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 1em; 
    position: relative;
    background-color: whitesmoke;
} 

table {
    border: none;
    display: flex;
    justify-content: center;
    background-color: white;
}

div {
    height: auto;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
}

p {
    width: 40%;
    height: 80vh;
}
